@{
    ViewData["Title"] = "Home Page";
}

<div class="try_header">
    <div class="container w-50 header-container">
        <h1 class="display-4 font-weight-bold">Loving auction and deals, also interested in cars?</h1>
        <h1 class="display-4 font-weight-bold mt-5">Welcome to The Chameleon!</h1>
        <a  href="/Identity/Account/Register" class="btn-custom cool-color">Register</a>
    </div>

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
